Repository CS3219-AY2425S1/cs3219-ay2425s1-project-g55, pull requests merged in 2024-10, with the labels that each got.

#34 Feat: Update user service to similar as given user service
  backend/service-user/src/main/java/g55/cs3219/backend/userService/config/JwtAuthenticationFilter.java
  backend/service-user/src/main/java/g55/cs3219/backend/userService/config/SecurityConfiguration.java
  backend/service-user/src/main/java/g55/cs3219/backend/userService/controller/AuthenticationController.java
  backend/service-user/src/main/java/g55/cs3219/backend/userService/controller/UserController.java
  backend/service-user/src/main/java/g55/cs3219/backend/userService/dto/RegisterUserDto.java
  backend/service-user/src/main/java/g55/cs3219/backend/userService/model/User.java
  backend/service-user/src/main/java/g55/cs3219/backend/userService/repository/UserRepository.java
  backend/service-user/src/main/java/g55/cs3219/backend/userService/responses/LoginResponse.java
  backend/service-user/src/main/java/g55/cs3219/backend/userService/responses/UserResponse.java
  backend/service-user/src/main/java/g55/cs3219/backend/userService/service/AuthenticationService.java
  backend/service-user/src/main/java/g55/cs3219/backend/userService/service/UserService.java
Labels: priority.HIGH, service.USER

#6 feature: User Service
  backend/.gitignore
  backend/pom.xml
  backend/service-user/src/main/java/g55/cs3219/backend/userService/config/ApplicationConfiguration.java
  backend/service-user/src/main/java/g55/cs3219/backend/userService/config/EmailConfiguration.java
  backend/service-user/src/main/java/g55/cs3219/backend/userService/config/JwtAuthenticationFilter.java
  backend/service-user/src/main/java/g55/cs3219/backend/userService/config/SecurityConfiguration.java
  backend/service-user/src/main/java/g55/cs3219/backend/userService/controller/AuthenticationController.java
  backend/service-user/src/main/java/g55/cs3219/backend/userService/controller/HelloController.java
  backend/service-user/src/main/java/g55/cs3219/backend/userService/controller/UserController.java
  backend/service-user/src/main/java/g55/cs3219/backend/userService/dto/LoginUserDto.java
  backend/service-user/src/main/java/g55/cs3219/backend/userService/dto/RegisterUserDto.java
  backend/service-user/src/main/java/g55/cs3219/backend/userService/dto/VerifyUserDto.java
  backend/service-user/src/main/java/g55/cs3219/backend/userService/model/HelloUser.java
  backend/service-user/src/main/java/g55/cs3219/backend/userService/model/User.java
  backend/service-user/src/main/java/g55/cs3219/backend/userService/repository/HelloRepository.java
  backend/service-user/src/main/java/g55/cs3219/backend/userService/repository/UserRepository.java
  backend/service-user/src/main/java/g55/cs3219/backend/userService/responses/LoginResponse.java
  backend/service-user/src/main/java/g55/cs3219/backend/userService/responses/UserResponse.java
  backend/service-user/src/main/java/g55/cs3219/backend/userService/service/AuthenticationService.java
  backend/service-user/src/main/java/g55/cs3219/backend/userService/service/EmailService.java
  backend/service-user/src/main/java/g55/cs3219/backend/userService/service/HelloService.java
  backend/service-user/src/main/java/g55/cs3219/backend/userService/service/JwtService.java
  backend/service-user/src/main/java/g55/cs3219/backend/userService/service/UserService.java
  backend/service-user/src/main/resources/application.properties
Labels: priority.MEDIUM, service.USER

#45 Added Basic CI for the project
  .github/workflows/ci.yml
Labels: enhancement, priority.MEDIUM

#50 Add endpoint to query categories
  backend/service-question/src/main/java/g55/cs3219/backend/questionservice/controller/QuestionController.java
  backend/service-question/src/main/java/g55/cs3219/backend/questionservice/repository/QuestionRepository.java
  backend/service-question/src/main/java/g55/cs3219/backend/questionservice/service/QuestionService.java
Labels: service.QUESTION

#51 Add filter question by difficulty and category
  backend/service-question/src/main/java/g55/cs3219/backend/questionservice/repository/QuestionRepository.java
  backend/service-question/src/main/java/g55/cs3219/backend/questionservice/service/QuestionService.java
Labels: service.QUESTION

#57 [Users] Frontend login
  backend/service-user/src/main/java/g55/cs3219/backend/userService/config/SecurityConfiguration.java
  frontend/package-lock.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/auth/login-dialog.tsx
  frontend/src/components/auth/user-avatar.tsx
  frontend/src/components/forms/auth-login.tsx
  frontend/src/components/forms/auth-register.tsx
  frontend/src/components/forms/auth-verify-register.tsx
  frontend/src/components/navbar.tsx
  frontend/src/components/ui/avatar.tsx
  frontend/src/components/ui/dropdown-menu.tsx
  frontend/src/components/ui/input-otp.tsx
  frontend/src/components/ui/tabs.tsx
  frontend/src/hooks/auth/useAuth.tsx
  frontend/src/hooks/auth/useLogin.tsx
  frontend/src/hooks/auth/useRegister.tsx
  frontend/src/hooks/auth/useVerify.tsx
  frontend/src/lib/common.ts
  frontend/src/types/auth.ts
  frontend/tailwind.config.js
Labels: service.USER, UI

#55 Add basic unit tests for User Service
  backend/service-user/src/main/java/g55/cs3219/backend/userService/config/JwtAuthenticationFilter.java
  backend/service-user/src/main/java/g55/cs3219/backend/userService/config/SecurityConfiguration.java
  backend/service-user/src/main/java/g55/cs3219/backend/userService/controller/AuthenticationController.java
  backend/service-user/src/main/java/g55/cs3219/backend/userService/controller/UserController.java
  backend/service-user/src/main/java/g55/cs3219/backend/userService/responses/JwtTokenValidationResponse.java
  backend/service-user/src/main/java/g55/cs3219/backend/userService/responses/LoginResponse.java
  backend/service-user/src/main/java/g55/cs3219/backend/userService/responses/UserResponse.java
  backend/service-user/src/main/java/g55/cs3219/backend/userService/service/JwtService.java
  backend/service-user/src/test/java/g55/cs3219/backend/userService/controller/AuthenticationControllerTest.java
  backend/service-user/src/test/java/g55/cs3219/backend/userService/controller/UserControllerTest.java
  backend/service-user/src/test/java/g55/cs3219/backend/userService/service/AuthenticationServiceTest.java
  backend/service-user/src/test/java/g55/cs3219/backend/userService/service/EmailServiceTest.java
  backend/service-user/src/test/java/g55/cs3219/backend/userService/service/JwtServiceTest.java
  backend/service-user/src/test/java/g55/cs3219/backend/userService/service/UserServiceTest.java
Labels: service.USER

#56 Update a few fixes for user service
  backend/service-user/src/main/java/g55/cs3219/backend/userService/controller/AuthenticationController.java
  backend/service-user/src/main/java/g55/cs3219/backend/userService/controller/UserController.java
Labels: service.USER

#49 Matching Service Frontend
  frontend/src/components/navbar.tsx
  frontend/src/components/ui/alert.tsx
  frontend/src/hooks/useQuestions.tsx
  frontend/src/lib/consts.ts
  frontend/src/main.tsx
  frontend/src/routes/discuss.tsx
Labels: enhancement, help wanted, service.MATCHING, UI

#48 feat: Matching Service
  backend/service-matching/.dockerignore
  backend/service-matching/.gitignore
  backend/service-matching/.mvn/wrapper/maven-wrapper.properties
  backend/service-matching/Dockerfile
  backend/service-matching/mvnw
  backend/service-matching/mvnw.cmd
  backend/service-matching/pom.xml
  backend/service-matching/src/main/java/g55/cs3219/backend/ServiceMatchingApplication.java
  backend/service-matching/src/main/java/g55/cs3219/backend/matchingservice/config/RabbitMQConfig.java
  backend/service-matching/src/main/java/g55/cs3219/backend/matchingservice/config/SecurityConfig.java
  backend/service-matching/src/main/java/g55/cs3219/backend/matchingservice/config/WebSocketConfig.java
  backend/service-matching/src/main/java/g55/cs3219/backend/matchingservice/controller/MatchingController.java
  backend/service-matching/src/main/java/g55/cs3219/backend/matchingservice/model/MatchingRequest.java
  backend/service-matching/src/main/java/g55/cs3219/backend/matchingservice/service/MatchingConsumer.java
  backend/service-matching/src/main/java/g55/cs3219/backend/matchingservice/service/MatchingProducer.java
  backend/service-matching/src/main/java/g55/cs3219/backend/matchingservice/service/MatchingService.java
  backend/service-matching/src/main/java/g55/cs3219/backend/matchingservice/service/MatchingWebSocketHandler.java
  backend/service-matching/src/main/java/g55/cs3219/backend/matchingservice/service/NotificationService.java
  backend/service-matching/src/main/resources/application.properties
  backend/service-matching/src/test/java/g55/cs3219/backend/service_matching/ServiceMatchingApplicationTests.java
  docker-compose.yml
Labels: service.MATCHING

#75 Change question service end point to follow REST
  backend/service-question/src/main/java/g55/cs3219/backend/questionservice/controller/QuestionController.java
Labels: service.QUESTION

#64 Add unit test to Question Service
  backend/service-question/pom.xml
  backend/service-question/src/main/java/g55/cs3219/backend/questionservice/exception/ErrorResponse.java
  backend/service-question/src/main/java/g55/cs3219/backend/questionservice/model/Question.java
  backend/service-question/src/test/java/g55/cs3219/backend/questionservice/controller/QuestionControllerTests.java
  backend/service-question/src/test/java/g55/cs3219/backend/questionservice/service/QuestionServiceTests.java
Labels: service.QUESTION

#67 Add Duplicate Check for Question Service
  backend/service-question/src/main/java/g55/cs3219/backend/questionservice/repository/QuestionRepository.java
  backend/service-question/src/main/java/g55/cs3219/backend/questionservice/service/QuestionService.java
Labels: service.QUESTION

#79 Match Found Sound
  frontend/public/sounds/match-found.mp3
  frontend/src/routes/discuss.tsx
Labels: enhancement

#83 Update Examples in MongoDB Seed Data
  backend/mongoDB/init-mongo.js
  backend/service-question/src/main/java/g55/cs3219/backend/questionservice/dto/QuestionDto.java
  backend/service-question/src/main/java/g55/cs3219/backend/questionservice/model/Question.java
  backend/service-question/src/test/java/g55/cs3219/backend/questionservice/controller/QuestionControllerTests.java
  backend/service-question/src/test/java/g55/cs3219/backend/questionservice/service/QuestionServiceTests.java
  frontend/package-lock.json
  frontend/src/components/forms/question.tsx
  frontend/src/hooks/useQuestion.tsx
  frontend/src/hooks/useQuestions.tsx
  frontend/src/routes/question.tsx
  frontend/src/types/question.ts
Labels: enhancement
